@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<main>
    <!--? Hero Start -->
    <div class="slider-area2" style="background-image: url('https://codroid.netlify.app/about/assets/about-us.gif');">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>About us</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    
                                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item"><a asp-action="AboutUs">About</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Visit Our Tailor Start -->
    <div class="row mt-4">
        <!-- Right Column for Image -->
        <div class="col-md-6">
            <img src="https://blogs.biomedcentral.com/bugbitten/wp-content/uploads/sites/11/2020/01/Venn_NTDs_SDGs_HR_Research-1024x576.jpg"  alt="">
        </div>
        <!-- Left Column for Our Mission -->
        <div class="col-md-6">
            <div class="tailor-details">
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Our Mission</span>
                </div>
                <p class="pera-top">
                    Prioritize tropical disease in health research for prevention and management of these diseases <br />
                    Develop a strong research culture in Bangladesh by creating a global collaborative platform for young enthusiastic researchers <br />
                    Create an equitable and accessible health system for the marginalized population of the society who are the vulnerable group for tropical diseases
                </p>
                
                <div class="section-tittle section-tittle2 mt-4">
                    <span>Vision</span>
                </div>
                <p class="pera-top">
                    Improve health through evidence-based prevention and accessible healthcare system.
                </p>



            </div>
        </div>
    </div>

    <style>
        .goals-section {
            background-color: #EEFFFA;
            padding: 20px;
            margin-bottom: 20px;
        }

        .goal-item {
            color: #70D76A;
        }
    </style>

    <section class="support-company-area fix pt-10">
        <div class="support-wrapper align-items-center">
            <div class="left-content">
                <!-- section title -->
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Our goals</span>
                </div>
                <div class="support-caption">
                    <ul class="goal-list">
                        <li><strong>•</strong> Prioritizing research in tropical diseases</li>
                        <li><strong>• </strong> Supporting young researchers for career development in tropical medicine/global health</li>
                        <li><strong>• </strong> Fostering global scientific collaboration</li>
                        <li><strong>• </strong> Advocacy for establishing an equitable health system for marginalized population</li>
                        <li><strong>• </strong> Promoting evidence-based policy regarding tropical medicine and health</li>
                    </ul>
                </div>
                <br />

                <div class="section-tittle section-tittle2 mb-30">
                    <span>Priority areas</span>
                    <p>Our goals and approach enable us to focus on priority areas, which include – but not limited to</p>
                </div>
                <div class="support-caption">
                    <ul class="goal-list">
                        <li><strong>• </strong> Emerging tropical diseases</li>
                        <li><strong>• </strong> Dengue, Chikungunya, and other arboviral diseases</li>
                        <li><strong>• </strong> Malaria and tuberculosis, with a focus on resistance</li>
                        <li><strong>• </strong> Antimicrobial resistance</li>
                        <li><strong>• </strong> Planetary health and One Health approach for improvement of animal health and the environment</li>
                        <li><strong>• </strong> Health system research for improving equity and access for marginalized people</li>
                    </ul>
                </div>

            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="https://www.researchgate.net/publication/7554280/figure/fig1/AS:280740253192192@1443945100985/Geographic-Overlap-of-the-Neglected-Tropical-Diseases.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <style>
        .goal-list {
            list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for unfilled circles, or 'square' for squares */
            padding-left: 20px; /* Add left padding for the bullet points */
        }
    </style>
    
</main>