@{
    ViewData["Title"] = "Data Repository";
}

<!--? Hero Start -->
<div class="slider-area2" style="background-image: url('https://journalistsresource.org/wp-content/uploads/2016/02/Virus-close-up-860x466.jpg');">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70">
                        <h2>Data Repository</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-action="DataRepository">Data Repository</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Our Areas of Work Start -->
<div class="service-area section-padding30">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="col-12">

                <div class="section-tittle section-tittle2 mb-30">
                    <span>Our Areas of Work</span>

                </div>
            </div>
        </div>
        <!-- Services Content -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="https://img.medscape.com/pi/features/slideshow-slide/neglected-tropical-diseases/fig1.jpg" alt="Tropical Disease">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Tropical disease</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="single-cat active text-center mb-30">
                    <div class="cat-icon">
                        <img src="https://www.neglecteddiseases.gov/wp-content/uploads/2023/05/1-PHOTO-CREDIT-is-USAIDs-Act-to-End-NTDs-West-Les-Angles-dAfrique.jpg" alt="Health System">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Health system</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="https://i0.wp.com/sitn.hms.harvard.edu/wp-content/uploads/2014/12/Figure-12.png?fit=764%2C544&ssl=1" alt="Disease-specific Data">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Disease-specific data</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Areas of Work End -->
<!--? Introduction Section Start -->
<section class="support-company-area fix pb-padding mt-4">
    <div class="support-wrapper align-items-center">
        <div class="left-content">
            <!-- section title -->
           
            <div class="section-tittle section-tittle2 mb-30">
                <span>Data Repository</span>

            </div>
            <div class="">
                <p class="pera-top">
                    The Tropical Disease and Health Research Center (TDHRC) is a non-profit, independent, collaborative organization that works with multiple partners, agencies, and governments. It conducts multiple research projects with or without funding.
                    Research data is valuable, and it should be used for the betterment of science and humanity. Therefore, we believe that it should be open, and hence, we want to share our dataset if there are no ethical and legal barriers.
                </p>
                <p class="pera-top">
                    We have multiple project datasets that can be shared following the meeting of specific requirements.
                </p>
                <p class="pera-top">
                    If you want to work with clinical, epidemiological, or disease-specific data and want to share your research or access research data, then you are welcome.
                    Please see the following projects and if you want to access the dataset of any particular project, <span class="font-weight-bold">please email us: data@tdhrc.org or dr.jahid61@gmail.com.</span>
                </p>
                <p class="pera-top font-weight-bold">
                    Please remember that as all of the datasets are already used and published, before accessing any data or request, please review the published paper and/or questionnaire first. Then make a short plan (350 words) on what you want to do and how you will analyze the dataset.
                </p>
                <p class="pera-top font-weight-bold">
                    As all data access is free of charge but with some conditions, before requesting data access please write a cover letter and share your short plan (350 words) in two separate documents along with your research profile (short CV) [Total 3 documents].
                </p>
                <p class="pera-top font-weight-bold">
                    As we receive a high volume of requests, we cannot reply to all emails. Only convincing emails will be replied to after a certain time.
                </p>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fe8ad0fee-1f63-11e7-b7d3-163f5a7f229c?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Introduction Section End -->

