@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Donate";
}

<!--? Hero Start -->
<div class="slider-area2" style="background-image: url('https://www.who.int/images/default-source/departments/ntd-library/schistosomiasis/mda-campaign-tanzania/43967524160-58148fb032-3k.tmb-1200v.jpg?Culture=en&sfvrsn=c39707b7_2');">
    
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70">
                        <h2>Donate</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-action="Donate">Donate</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? About Area Start -->
<section class="support-company-area fix pb-padding mt-4">
    <div class="support-wrapper align-items-center">
        <div class="left-content">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-30">
                <span>Donate</span>
               
            </div>
            <div class="">
                <p class="pera-top">
                    Your contributions, regardless of the amount, enable us to enhance the quality of life for millions vulnerable to tropical diseases through research, prevention, treatment, and control efforts, while also expanding healthcare accessibility.
                </p>
                <p>Your generosity fuels our initiatives to:</p>
                <ul>
                    <li><strong>• </strong>Ensure universal access to healthcare services</li> <br />
                    <li><strong>• </strong>Foster a robust research environment promoting evidence-based healthcare systems</li>
                    <br />
                    <li><strong>• </strong>Advance research on tropical diseases for improved prevention and treatment strategies</li>
                    <br />
                    <li><strong>• </strong>Foster collaborative approaches for generating and implementing scientific evidence in healthcare services</li>
                    <br />
                </ul>

                <p>Each donation propels our efforts in tropical medicine and healthcare system research and development. This includes extending our reach to more individuals, supporting emerging researchers, facilitating collaborative policymaking, and influencing implementation outcomes across all levels of society for the betterment of quality of life.</p>

                <p>Thank you for considering supporting our mission and making a positive impact on healthcare accessibility and outcomes.</p>
                <a  asp-action="Contact">Join Us Now</a>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="https://www.plateaupeacebuilding.org/images/donate.gif" alt="">
            </div>
            <div class="support-img-cap text-center d-flex">
               
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->