@{
    ViewData["Title"] = "Home Page";
}

<main>

    <!-- slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active dot-style">
            <!-- Single Slider -->
            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                               
                                <P data-animation="fadeInUp" data-delay=".4s">A youth-led non-profit organization of Bangladesh </P>                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                               
                                <P data-animation="fadeInUp" data-delay=".4s">Empowering Health, Conquering Tropics </P>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                
                                <P data-animation="fadeInUp" data-delay=".4s">Building Stronger Health Together </P>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? video_start -->
        @* <div class="video-area d-flex align-items-center justify-content-center">
            <div class="video-wrap position-relative">
                <div class="video-icon">
                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div> *@
        <!-- video_end -->

    </div>
    <!-- slider Area End-->
    <br>

    <div class="service-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/assets/img/tdhrc_04.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!--? Visit Our Tailor Start -->
    
        <div class="row">
            <!-- Right Column for Image -->
            <div class="col-md-6">
            <img src="https://bluecloudpsc.com/wp-content/uploads/2021/02/banner-about-us.png" alt="">
            </div>
            <!-- Left Column for Our Mission -->
            <div class="col-md-6">
                <div class="tailor-details">
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Our Mission</span>
                </div>
                <p class="pera-top">
                    Prioritize tropical disease in health research for prevention and management of these diseases <br />
                    Develop a strong research culture in Bangladesh by creating a global collaborative platform for young enthusiastic researchers <br />
                    Create an equitable and accessible health system for the marginalized population of the society who are the vulnerable group for tropical diseases
                </p>

                <div class="section-tittle section-tittle2 mb-30">
                    <span>Vision</span>
                </div>
                <p class="pera-top">
                    Improve health through evidence-based prevention and accessible healthcare system.
                </p>


               
                </div>
            </div>
        </div>
    </div>

    <style>
        .goals-section {
            background-color: #EEFFFA;
            padding: 20px;
            margin-bottom: 20px;
        }

        .goal-item {
            color: #70D76A;
        }
    </style>

    <section class="support-company-area fix pt-10">
        <div class="support-wrapper align-items-center">
            <div class="left-content">
                <!-- section title -->
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Our goals</span>
                </div>
                <div class="support-caption">
                    <ul class="goal-list">
                        <li><strong>•</strong> Prioritizing research in tropical diseases</li>
                        <li><strong>• </strong> Supporting young researchers for career development in tropical medicine/global health</li>
                        <li><strong>• </strong> Fostering global scientific collaboration</li>
                        <li><strong>• </strong> Advocacy for establishing an equitable health system for marginalized population</li>
                        <li><strong>• </strong> Promoting evidence-based policy regarding tropical medicine and health</li>
                    </ul>
                </div>
                <br />

                <div class="section-tittle section-tittle2 mb-30">
                    <span>Priority areas</span>
                    <p>Our goals and approach enable us to focus on priority areas, which include – but not limited to</p>
                </div>
                <div class="support-caption">
                    <ul class="goal-list">
                        <li><strong>• </strong> Emerging tropical diseases</li>
                        <li><strong>• </strong> Dengue, Chikungunya, and other arboviral diseases</li>
                        <li><strong>• </strong> Malaria and tuberculosis, with a focus on resistance</li>
                        <li><strong>• </strong> Antimicrobial resistance</li>
                        <li><strong>• </strong> Planetary health and One Health approach for improvement of animal health and the environment</li>
                        <li><strong>• </strong> Health system research for improving equity and access for marginalized people</li>
                    </ul>
                </div>

            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="assets/img/tdhrc_05.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <style>
        .goal-list {
            list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for unfilled circles, or 'square' for squares */
            padding-left: 20px; /* Add left padding for the bullet points */
        }
    </style>



    

    <!-- Visit Our Tailor End -->
    <!--? Services Area Start -->
    
    <!-- Services Area End -->
    <!--? About Area Start -->
    <section class="support-company-area fix pt-10">
        <div class="support-wrapper align-items-center">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Who we are?</span>
                  
                </div>
                <div class="support-caption">
                    <p class="pera-top">
                        The Tropical Disease and Health Research Center is a non-profit organization dedicated to reducing the burden of disease and improving the quality of life for people suffering from tropical diseases in Bangladesh. Our mission encompasses promoting evidence-based care, conducting research, strengthening healthcare delivery models, and aligning health systems with global standards.
                        <br />

                        Approximately 1.6 billion people across 149 countries in tropical and subtropical regions are affected by these diseases, particularly those living in poverty with limited access to healthcare, clean water, and sanitation. Tropical diseases cause significant illness, death, disability, and disfigurement, leading to stigma, social exclusion, school absenteeism, and lost productivity. The vicious cycle of poverty often ensnares those afflicted due to poor health and limited healthcare spending.

                        <br />

                        Our ambition is to prioritize tropical disease research and establish an equitable health system for prevention and treatment. We aim to achieve this through rigorous scientific research, evidence-based practices, policy reforms, recognition of excellence, and advocacy for increased investment in tropical medicine and health research.
                    </p>
                    
                     
                   
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                   
                    <img src="https://img.freepik.com/premium-vector/medical-support-illustration_32854-259.jpg" alt="">
                </div>
                @* <div class="support-img-cap text-center d-flex">
                    <div class="single-one">
                        <span>950</span>
                        <p>Poaching cases</p>
                    </div>
                    <div class="single-two">
                        <span>230</span>
                        <p>Volunteers worldwide</p>
                    </div>
                </div> *@
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <!--? Our Cases Start -->
    @* <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 ">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>Every day 6,000 beavers perished</h2>
                        <p class="pl-20 pr-20">
                            Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                            cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case1.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Wildlife in Danger</a></h3>
                            <p>
                                Interdum nulla, ut commodo diam libero vitae
                                erat. Aenean faucibus nibh et justo cursus
                                rutrum.
                            </p>
                            <!-- Progress Bar -->
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar1" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="70"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- / progress -->
                            <div class="prices">
                                <p><span>47,589 of 74,574</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case2.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Our Green Projects</a></h3>
                            <p>
                                Interdum nulla, ut commodo diam libero vitae
                                erat. Aenean faucibus nibh et justo cursus
                                rutrum.
                            </p>
                            <!-- Progress Bar -->
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar2" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="25"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="prices">
                                <p><span>47,589 of 74,574</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case3.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Wildlife in Danger</a></h3>
                            <p>
                                Interdum nulla, ut commodo diam libero vitae
                                erat. Aenean faucibus nibh et justo cursus
                                rutrum.
                            </p>
                            <!-- Progress Bar -->
                            <div class="single-skill mb-15">
                                <div class="bar-progress">
                                    <div id="bar3" class="barfiller">
                                        <div class="tipWrap">
                                            <span class="tip"></span>
                                        </div>
                                        <span class="fill" data-percentage="50"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="prices">
                                <p><span>47,589 of 74,574</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- Our Cases End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area pb-padding">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-11">
                    <div class="section-tittle text-center mb-90">
                        <h2>Latest blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="assets/img/blog_01.jpg" alt="" style="width: 100%; max-width: 800px;">
                            </div>
                            <div class="blog-cap">
                                <h3><a href="#">Soil-transmitted helminth infections: a neglected risk to public health</a></h3>
                                <p>Dr Tamanna Tabassum</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="assets/img/stop_violance.jpg" alt="" style="width: 100%; max-width: 800px;">
                            </div>
                            <div class="blog-cap">
                                <h3><a href="#">Legal rights of patients and health care professionals are an unveiled issue in Bangladesh: a call to action</a></h3>
                                <p>Dr Nahida Hannan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Area End -->

</main>
